<div class="row">
  <div class="col-md-3 space-sm-4">
    <div class="sidenav">
      <ul class="sidebar-list">
        <li class="sidebar-item">
          <%= link_to t("edit_profile"), edit_user_path,
            {class: "sidenav-item"}%>
        </li>
      </ul>
    </div>
    <%= link_to t("view_profile"), @user,
      {class: "btn btn-normal space-top-4"} %>
  </div>
  <div class="col-md-9">
    <%= render "form" %>
  </div>
</div>
