@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";

body {
  color: #565a5c;
  background-color: #F8F8F8;
  font-family: "Varela Round", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

a {
  color: #00A699;
}

.container {
  width: 80%;
}

// HOME PAGE
.discovery-card {
  background-size: cover;
  background-position: center;
  height: 326px;
}

.banner {
  margin-top: 50px;
  margin-bottom: 50px;
}
